{% extends "base_generic.html" %}

<!--Seach Bar to search for customers to manage-->
{% block content %}
<form class = "d-flex" method = "POST" action = "{% url 'online_database:manage_current_customers' %}">
    {% csrf_token %}
    <input class  = "form-control me-2" 
    type = "search" placeholder="Search Customers"
    aria-label="Search" name = "searched">
    <button class = "btn btn-outline-secondary"
    type = "submit">Search</button>
</form>

{% if searched %}

    <h1>You searched for "{{ searched }}"</h1>  
    </br>  
    {% for customer in customers %}
        {{ customer }}</br>
    {% endfor %}       

{% else %}
    <h1> Search For Customers To Manage </h1>
{% endif %}   
<!--End-->

<!--Fields to edit customers in Database-->
<h2>Update Current Customer</h2>
<form method="post">
    {% csrf_token %}
    {{  edit_customer_form.as_p }}
    <input type="submit" value="Save">
</form>
<!--End-->


{% endblock %}

{% block scripts%}
{% endblock scripts%}